html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#verticalButtons {
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 5px;
  padding: 5px 5px 7px 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkgray;
}

#carCanvas {
  background-color: lightgray;
}

#networkCanvas {
  background-color: black;
}